body {
    text-align: center;
    background: #fff;
}

.container {
    width: 75%;
    height: 200px;
    border: 3px solid black;
}
.title {
    font-size: 25px;
}

.button {
    appearance: none;
    background: #fff;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    margin: 10px;
}

.button:hover {
    background: black;
    transition: 0.5s;
    color: white;
}

.input {
    border-color: black;
    margin: 10px;
}